/* HIDE RADIO */
body {
  background: rgb(191, 195, 203);
}
fieldset {
  border: 1px solid grey; 
  background: rgb(178, 193, 209);
  border-radius: 10px;
}
img[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 7px solid rgb(138, 180, 228);
    border-radius: 10px;
  }
  .goalheader {
    width: 70%;
    height: 200px;
    margin-left: 20%;
    margin-right:20%; 
  }