
body {
  background: rgb(191, 195, 203);
}
.accordHead {
  background: rgb(215, 226, 239);
}
.accordHeadButton, .accordHeadButton2  {
  border: 1px solid grey; 
  background: rgb(215, 226, 239);
}
.accordHeadButton {
  margin-top: 10px;
}
.accordHeadButton2 {
  margin-bottom: 10px;
}
/* HIDE RADIO */
.hideRadio[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 7px solid rgb(138, 180, 228);
    border-radius: 10px;
  }
  .goalheaderimg {
    width: 70%;
    height: 200px;
    border-radius: 30px;
    background-color: aliceblue;
    padding: 4px;
    max-width: 600px;
    max-height: 350px;
  }
  .headerPhoto {
    background-color: #189AB4;
    padding: 6px;
    width: 100%;
    border-top: #D4F1F4 2px solid;
    border-bottom: #D4F1F4 2px solid;
  }
  .projectInfoHeader {
    background-color: rgb(215, 226, 239);
  }
