
body {
  background: #3da2c3;
}
.accordHead {
  background: rgb(215, 226, 239);
}
.accordHeadButton, .accordHeadButton2  {
  border: 1px solid grey; 
  background: rgb(215, 226, 239);
}
.accordHeadButton {
  margin-top: 10px;
}
.accordHeadButton2 {
  margin-bottom: 10px;
}
/* HIDE RADIO */
.hideRadio[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 7px solid rgb(138, 180, 228);
  border-radius: 10px;
}
.goalheaderimg {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
}
.headerPhotoDiv {
  background-color: #189AB4;
  padding: 6px;
  width: 100%;
  border-top: #D4F1F4 2px solid;
  border-bottom: #D4F1F4 2px solid;
}

input[type=checkbox] {
  float: right;
  height: 20px;
  width: 20px;
  border: 1px solid grey;
}

.buttonTask {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.toDoListChecked {
  text-decoration: line-through;
  background: limegreen;
}

.disappear {
  display: none;
}