<%- include('partials/header.ejs', {user}) %>

<% if(!user) { %>
    <h1 class="p-2">Start your project</h1>
    <div class="m-3 d-flex justify-content-center">
        <div class="col-md-6 m-2 shadow-sm">
        <p>With this project management tool, you can create projects, set goals, and update tasks. It's everything you need to stay organized. 
        </p>
        </div>
        <div class="col-md-4 m-2 shadow-sm">
            <h5><a href="/users/new">Sign Up for an Account</a></h5>
        </div>
    </div>
<% } else {%>
<h1 class="p-4">Welcome to the homepage</h1>
<div class="container-md border my-5"><h2>Read what others are doing</h2> </div>
    <div class="row align-items-center mx-5 my-2" style="height: 100px">
        <div class="col">All Projects</div>
        <div class="col">New Projects</div>
    </div>
    <div class="row mx-5 my-2">
        <div class="col"><div class="child">Tools</div></div>
        <div class="col"><div class="child">Resources</div></div>
    </div>
    <div class="row mx-5 my-2">
        <div class="col">All Tasks</div>
        <div class="col">New Tasks</div>
        <div class="col">Due Tasks</div>
    </div>
<% } %> 

<%- include('partials/footer.ejs') %>