<h1>Create a New Goal</h1>

<form method="POST" action="/goals">
    <fieldset>
        <legend>New Goal</legend>
    <label for="name">Goal name</label>
    <input type="textarea" id="name" name="name" placeholder="Crystal's Party Plan">

    <label for="description">Describe Event</label>
    <textarea type="text" id="description" name="description" placeholder="An event to celebrate the completion of project 2"></textarea>

    <label for="dueDate">Due Date</label>
    <input type="date" id="dueDate" name="dueDate">

    <input type="submit" value="Submit">
    </fieldset>
</form>