<%- include('../partials/header.ejs', {user}) %>

<div class="m-3">
    <h2 class="p-2">Create a New Goal</h2>
</div>

<div class="container">
    <div class="row justify-content-center my-3">
        <div class="col-lg-6">
            <form method="POST" action="/goals" class="row gy-2 gx-3 align-items-center">
                <fieldset class="shadow-sm">
                    <legend>New Goal</legend>
                <div class="col-auto m-2 shadow-sm">
                    <label for="name" class="form-label">Goal name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="e.g. Crystal's Party Plan" required>
                </div>

                <div class="col-auto m-2 shadow-sm"> 
                    <label for="description" class="form-label">Describe Event</label>
                    <textarea type="text" class="form-control" id="description" name="description" placeholder="e.g. An event to celebrate the completion of project 2" required></textarea>
                </div>

                <div class="col-auto m-3">
                    <label for="dueDate" class="form-label">Due Date</label>
                    <input type="date" class="shadow-sm form-control"id="dueDate" name="dueDate" required>
                </div>
                <div class="col-auto m-3">
                    <label for="public" class="form-label" required>Public or Private?</label>
                        <input type="radio" id="public" name="public" value="Public" checked>
                        <label for="Public">Public</label>
                        <input type="radio" id="private" name="public" value="Private">
                        <label for="Private">Private</label>
                </div>

                <div class="text-center my-2">
                    <button class="btn btn-dark shadow-sm" type="submit">Submit</button>
                </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>