<%- include('../partials/header.ejs', {user}) %>

<div class="container mt-3 mb-3">
    <div class="row d-flex justify-content-center mt-2">
        <div class="col-md-9 rounded p-2">
            <div class="card-body card p-3 shadow-lg">
                <form method="POST" action="/projects" class="row gy-2 gx-3 align-items-center">
                <fieldset>
                    <legend>New Project</legend>
                    <div class="col-auto m-2">
                        <label for="name" class="form-label fw-bold">Project name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="e.g. Turtle Pond Takeover" required>

                        <label for="description" class="form-label fw-bold">Project description</label>
                        <input type="text" class="form-control" id="description" name="description" placeholder="e.g. Gather fellow turtles to fight off invading duckcs" required>

                        <label for="dueDate" class="form-label fw-bold">Due Date</label>
                        <input type="date" class="shadow-sm form-control"id="dueDate" name="dueDate" required>

                        <label for="public" class="form-label fw-bold" required>Public or Private?</label>
                        <input type="radio" id="public" name="public" value="Public" checked>
                        <label for="Public">Public</label>
                        <input type="radio" id="private" name="public" value="Private">
                        <label for="Private">Private</label>

                        <div class="text-center my-2">
                            <button class="btn btn-dark shadow-sm" type="submit">Submit</button>
                        </div>
                    </div>
                </fieldset>
                </form>
            </div>      
        </div>      
    </div>      
</div> 

<%- include('../partials/footer.ejs') %>