<%- include('../partials/header.ejs', {user}) %>

<h3>Sign up for an account<h3>

<div class="container">
    <div class="row justify-content-center my-3">
        <div class="col-lg-6">
            <form action="/users" method="POST">
                <label for="email" class="form-label"> Email: </label>
                <input type="email" class="form-control shadow-sm" name="email" id="email" required>

                <label for="password" class="form-label"> Password: </label>
                <input type="password" class="form-control shadow-sm" name="password" id="password" required />

                <button type="submit" class="btn btn-dark shadow-sm">Sign Up</button>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>