<%- include('../partials/header.ejs', {user}) %>

<div class="m-3">
    <h1 class="p-2">Sign up for an Account</h1>
</div>
<div class="container">
<div class="row d-flex justify-content-center mt-2">
    <div class="col-md-7 rounded p-2">
        <div class="card-body card p-3 shadow-lg">
            <form action="/users/profile" method="POST">
                <div class="col-auto m-2 shadow-sm"> 
                    <label for="fName" class="form-label"> First Name: </label>
                    <input type="fName" class="form-control shadow-sm" name="fName" id="fName" required>
                </div>
                <div class="col-auto m-2 shadow-sm"> 
                    <label for="lName" class="form-label"> Last Name: </label>
                    <input type="lName" class="form-control shadow-sm" name="lName" id="lName" required>
                </div>

                <div class="col-auto m-2 shadow-sm"> 
                    <label for="email" class="form-label"> Email: </label>
                    <input type="email" class="form-control shadow-sm" name="email" id="email" required>
                </div>

                <div class="col-auto m-2 shadow-sm"> 
                    <label for="password" class="form-label"> Password: </label>
                    <input type="password" class="form-control shadow-sm" name="password" id="password" required />
                </div>

                <div class="col-auto m-2 shadow-sm"> 
                    <label for="bio" class="form-label">About Me</label>
                    <textarea type="text" class="form-control" id="bio" name="bio" placeholder="e.g. I like setting goals and accomplishing tasks"></textarea>
                </div>
                <div class="row my-3 justify-content-center">
                    <button type="submit" class="btn btn-dark shadow-sm p-1" style="width: 40%;">Sign Up</button>
                    <a href="/users/login"><p class="col my-1">Or login</p></a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<%- include('../partials/footer.ejs') %>