<%- include('../partials/header.ejs', {user}) %>

<div class="tabs">
  <div class="tab-header">
    <div class="active">Goal Name</div>
    <div>Goal Name</div>
    <div>Goal Name</div>
    <div>Goal Name</div>
    <div>Goal Name</div>
    <div>Goal Name</div>
  </div>
  <div class="tab-body">
    <div class="active">
      <h2>Goal Name</h2>
      <p><span class="fw-bold">Goal Description:</span></p>
      <p><span class="fw-bold">Due Date:</span></p>
      <p><span class="fw-bold">Goal Progress:</span> </p>
      <p><span class="fw-bold">Who can see goal:</span></p>
    </div>
    <div>
      <h2>Goal Name</h2>
      <p><span class="fw-bold">Goal Description:</span></p>
      <p><span class="fw-bold">Due Date:</span></p>
      <p><span class="fw-bold">Goal Progress:</span> </p>
      <p><span class="fw-bold">Who can see goal:</span></p>
    </div>
    <div>
      <h2>Goal Name</h2>
      <p><span class="fw-bold">Goal Description:</span></p>
      <p><span class="fw-bold">Due Date:</span></p>
      <p><span class="fw-bold">Goal Progress:</span> </p>
      <p><span class="fw-bold">Who can see goal:</span></p>
    </div>
    <div>
      <h2>Goal Name</h2>
      <p><span class="fw-bold">Goal Description:</span></p>
      <p><span class="fw-bold">Due Date:</span></p>
      <p><span class="fw-bold">Goal Progress:</span> </p>
      <p><span class="fw-bold">Who can see goal:</span></p>
    </div>
  </div>
</div>

<script>
  let tabs = document.querySelector(".tabs");
  let tabHeader = tabs.querySelector('.tab-header');
  let tabBody = tabs.querySelector('.tab-body');
  let tabHeaders = tabs.querySelectorAll('.tab-header > div');
  let tabBodyNodes = tabs.querySelectorAll('.tab-body > div');

  for(let i=0; i < tabHeaders.length; i ++) {
    tabHeaders[i].addEventListener('click', function() {
      tabHeader.querySelector(".active").classList.remove('active');
      tabHeaders[i].classList.add("active");
      // tabBody.querySelector(".active").classList.remove('active');
      // tabBodyNodes[i].classList.add("active");
      tabBody.style.marginTop = `-${i*100}vh`;
    })
  }

</script>


<%- include('../partials/footer.ejs') %>