<%- include('../partials/header.ejs', {user}) %>

<div class="m-3">
    <h1 class="p-2">Profile</h1>
</div>

<h2>Hey, <%= user.email %> Thanks for logging in to the app! </h2>

<div class="container text-center">
    <div class="row">
      <div class="col-sm-8">Find all your projects here:</div>
      <div class="col-sm-4">See goals</div>
    </div>
    <div class="row">
      <div class="col-sm">All Tasks Due</div>
      <div class="col-sm">All Goals Due</div>
      <div class="col-sm">All Projects</div>
    </div>
  </div>
  

<%- include('../partials/footer.ejs') %>